[Unit]
Description=redis-dns DNS server
After=local-fs.target network.target

[Service]
ExecStart=<redis-dns>/redis-dns/redis-dns run -b 
PIDFile=/var/run/redis-dns/dns.pid
Type=forking

[Install]
WantedBy=multi-user.target
